@inherits LayoutComponentBase

<div class="container horizontal fill">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="container fill">
            @Body
    </div>

</div>

@code {
   

}
